body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #dadff7;
  margin: 0 70px;
}

h1 {
  display: inline-block;
  font-size: 30px;
  margin-right: 15px;
  color: rgb(180, 88, 255);
}

h3 {
  display: inline-block;
  font-size: 16px;
}

#welcome form {
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 252, 252);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

#welcome form span {
  color: rgb(180, 88, 255);
  margin-bottom: 5px;
}

#welcome input {
  font-size: 18px;
  margin-bottom: 30px;
  padding: 10px 5px;
  background-color: transparent;
  border: 1px solid #888;
  border-radius: 5px;
}
#welcome input:focus {
  outline: none;
}

#welcome button {
  cursor: pointer;
  border: none;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(180, 88, 255);
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  padding: 15px;
}

#room_list {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(252, 252, 252);
  border-radius: 10px;
  padding: 10px 15px;
  box-sizing: border-box;
  min-height: 20vh;
}

#room_list h4 {
  margin: 10px 0;
}

#room_list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: rgb(180, 88, 255);
}

#call > div {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
  height: 100vh;
}

#videoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: rgb(168, 118, 255);
  padding: 10px;
  border-radius: 10px;
  width: 50%;
}

#streams {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#streams > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#streams > div > span {
  color: #fff;
}

#myFace,
#peerFace {
  background-color: #000;
  border-radius: 10px;
}

#buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

#buttons button {
  width: 100px;
  padding: 8px 0;
  margin-right: 5px;
  cursor: pointer;
  border: 1px solid rgb(196, 196, 196);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(180, 88, 255);
  border-radius: 5px;
  color: #fff;
}

#cameras {
  padding: 8px 0;
  border-radius: 5px;
}

/* Chat room */
#chatBox {
  width: 50%;
  background-color: rgb(249, 167, 167);
  border-radius: 10px;
  position: relative;
}

#chatBox > h4 {
  display: block;
  margin: 0;
  padding: 10px 0 0 10px;
  font-size: 18px;
  color: #fff;
}

#chatBox ul {
  padding: 10px;
  overflow: scroll;
  position: absolute;
  right: 10px;
  left: 10px;
  top: 30px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  border-radius: 10px;
}

#chatBox ul > li {
  font-size: 16px;
  border: 1px solid #dadff7;
  background-color: #dadff7;
  list-style: none;
  border-radius: 10px;
  padding: 5px 10px;
}

#chatBox > div {
  display: flex;
  position: absolute;
  bottom: 10px;
  width: 100%;
  justify-content: center;
}

#chatBox input {
  width: 80%;
  height: 40px;
  padding: 0;
  padding-left: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

#chatBox input:focus {
  outline: none;
}

#chatBox button {
  cursor: pointer;
  width: 12%;
  margin-left: 10px;
  height: 40px;
  padding: 0;
  font-size: 16px;
  background-color: rgb(180, 88, 255);
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}
